<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Popular Questions</title>
</head>
<body>
<h1>Popular Questions</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Question</th>
        <th>Date</th>
        <th>Popularity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, index : ${popularQuestions}">
        <td th:text="${index.index + 1}"></td>
        <td th:text="${question.content}"></td>
        <td th:text="${question.date}"></td>
        <td th:text="${question.popularity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
